.aboutSection {
  height: 80vh;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 85% 15%;
	grid-template-areas: "cube content" "header header";
}
.aboutSection__aboutText {
	background: #ff0060;
	border-radius: 1vmin;
	font-size: 3vmin;
	padding: 4vmin;
	width: 60%;
	grid-area: content;
	align-self: center;
	transform: translate3d(10%, 0, 0);
}
.aboutSection__header {
	grid-area: header;
	font-size: 9.8vw;
	line-height: 0.69;
	white-space: pre;
	color: #393939;
	margin: 0 auto;
	align-self: flex-end;
	transform: translate3d(0, 140%, 0);
	transition: opacity .1s cubic-bezier(0.4, 0.0, 0.2, 1), transform .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.aboutSection__header_slideUp {
	transform: translate3d(0, 0%, 0);
}
.stackSection {
	position: relative;
	overflow: hidden;
}
.stackSection__angleContainerWrapper {
	width: 100%;
	height: 100%;
	position: absolute;
}
.stackSection__angleContainer {
	height: 100%;
	transform: translate3d(0, 0, 0) rotate(-10deg) scale3d(1.7, 1, 1);
	transform-origin: top right;
	transition: transform 0.1s linear;
}
.stackSection__gradientBG  {
	height: 100%;
	background: linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab );
	transform: translate3d(100%, 0, 0) scale3d(3, 1, 1);
}
.stackSection__gradientBG_animationON {
	animation: gradientBG 2s linear infinite alternate;
}
@keyframes gradientBG {
  0% {
    transform: translate3d(100%, 0, 0) scale3d(3, 1, 1);
  }
  100% {
    transform: translate3d(-50%, 0, 0) scale3d(3, 1, 1);
  }
}
.stackSection__stackDescriptionWrapper {
	padding: 10vh;
	transform: translate3d(0, 20vh, 0);
	transition: .3s cubic-bezier(0.0, 0.0, 0.2, 1);
	opacity: 0;
}
.stackSection__stackDescriptionWrapper_slideUp {
	transform: translate3d(0,0,0);
	opacity: 1;
}
.stackSection__stackIcons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.stackSection__stackIcon {
	width: 15vmin;
	height: 15vmin;
	margin: 5vmin;
	border-radius: 50%;
	background: #250033;
}
.stackSection__stackDescription {
	margin: 0;
	padding: 4vmin;
	background: #ff0060;
	border-radius: 1vmin;
	font-size: 3vmin;
}