.certification {
	min-height: 80vh;
	padding: 10% 0 15% 10%;
	background: no-repeat center/cover url('../img/certsBG.jpg') #e7e7e7;
}
.certification__framed-certificate {
	width: 50%;
	position: relative;
}
.certification__frame {
	position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: center no-repeat url(../img/frame_mini.svg);
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.12)) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.24));
  transform: scale(1.3, 1.15);
  pointer-events: none;
}
.certification__carousel {
	position: relative;
	overflow: hidden;
	background: #3a3b3d;
	cursor: zoom-in;
	user-select: none;
}
.certification__certificates {
	
}
.certification__certificates_desktop-view {
	width: 600%;
	display: flex;
	align-items: center;
	transform: translateZ(0);
}
.certification__certificates_mobile-view {
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-snap-stop: always;
	scroll-behavior: smooth;
	scrollbar-width: none;
}
.certification__certificates_ease {
	transition: transform 0.1s, opacity 0s;
}
.certification__certificates_opacity-delay {
	transition: transform 0.1s, opacity 0s 0.35s;
}
.certification__certificates::-webkit-scrollbar {
  display: none;
}
.certification__certificate {
	display: inline-block;
	width: 100%;
	margin: 0;
	scroll-snap-align: center;
	vertical-align: middle;
}
.certification__a {
	cursor: zoom-in;
}
.certification__certificateThumbnail {
	width:100%;
  display: block;
  margin: 0;
  transition: 0.2s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.certification__button {
	width: 15%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	display: none;
}
.certification__button_right {
	transform: translateX(567%);
}
.certification__certificate-description {
	display: none;
}
.certification__button-bg {
	background: black;
	height: 100%;
	transform: translateX(-100%);
	transition: .25s cubic-bezier(0.4, 0.0, 0.2, 1);
	opacity: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.certification__button-bg_right {
	transform: translateX(100%);
}
.header {
	height: 0;
}
.header__contentLayer {
	display: flex;
	transform: translateZ(0);
}
.header__text {
	margin: 0 auto;
	line-height: 0.69;
	white-space: pre;
	color: #888;
	transition: opacity .2s cubic-bezier(0.4, 0.0, 0.2, 1), transform .2s cubic-bezier(0.4, 0.0, 0.2, 1);
	transform: translate3d(0, -100%, 0);
	opacity: 1;
}
.header__text_certification {
	font-size: 11.8vw;
}
.header__text_slideDown {
	opacity: 0;
	transform: translate3d(0, 10%, 0);
}
.certification__plantParallaxImg {
  max-height: 50%;
  max-width: 50vmax;
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}
.certification__plantParallaxImg_back {
	transform: translateX(5%);
}
.certification__plantParallaxImg_base {
	transform: translate3d(31%, -33%, 45px) scale(.85);
}
.certification__plantParallaxImg_fore {
	max-height: 40vmax;
	transform: translate3d(2%, 2%, 90px) scale(.71);
}
.userHint_cert {
	width: 64%;
	height: 64%;
	align-items: center;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.userHint__hintBG {
	width: 64%;
	height: 64%;
	padding: 0 4%;
	box-sizing: border-box;
	display: flex;
	background-color: #F2F2F2;
	border-radius: 1vmin;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.userHint__icon {
	width: 24%;
	margin: auto;
	fill: #021226;
	animation: 1s infinite alternate cubic-bezier(0.5, 0, 0.5, 1);
}
.userHint__icon_slash {
	width: 15%;
}
.userHint__icon_swipe {
	transform: translateX(-30%);
	animation-name: swipe;
}
.userHint__icon_zoom {
	transform: scale(0.9);
	animation-name: zoom;
}
@keyframes swipe {
	from {
		transform: translateX(-20%);
	}
	to {
		transform: translateX(20%);
	}
}
@keyframes zoom {
	from {
		transform: scale(0.9);
	}
	to {
		transform: scale(1.1);
	}
}
@media (max-width: 414px) {
	.certification {
		min-height: 100vh;
		padding: 18vh 0;
    box-sizing: border-box;
	}
	.certification__framed-certificate {
    width: 86%;
    margin: auto;
	}
}