#form {
	text-align: center;
	background: #8a0134;
}
#form * {
	width: 50%;
	font-size: 5vmin;
	margin: auto;
}
#form textarea {
  resize: none;
}
#fileLabel {
  background: aqua;
}
#fileInput {
  opacity: 0;
  width: 1px;
  height: 1px;
}
.filePreview {
  color: white;
}
.clearFileInput {
  width: 20px;
  height: 20px;
  background: red;
}