.hidden {
  display: none !important;
}
.opacity0 {
  opacity: 0 !important;
}
.opacity1 {
  opacity: 1 !important;
}
.will-change {
  will-change: transform, opacity;
}
.userSelect-None {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}
html > div {
  display: none !important;
}
html{
  width: 100%;
  min-width: 240px;
	height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: pan-y;
  background-color: #454C59;
  font-family: arial;
	font-family: Raleway;
	font-family: 'Rubik', sans-serif;
	color: white;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: fixed;
}
.forDownload {
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
}
.pswp__ui .pswp__top-bar {
  min-height: 44px;
  height: auto;
}
.pswp__ui.pswp__ui--fit .pswp__top-bar {
  background-color: rgba(0, 0, 0, 0.8);
}
.pswp__top-bar .pswp__counter {
  position: static;
  float: left;
}
.freeCodeCampLink.pswp__button {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 200px;
}
.freeCodeCampLink a {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 30px;
  margin: auto 10px;
  background: darkgreen;
  width: 100%;
  text-decoration: none;
}
.freeCodeCampLink a span {
  color: white;
  font-size: 0.9rem;
  white-space: nowrap;
  margin: 0;
  padding: 0 0 0 7px;
}
.freeCodeCampLink a img {
  display: block;
  padding: 5px 0 0 0;
  height: 130px;
}
.shadow_1 {
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.shadow_2 {
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12); }
.shadow_3 {
    box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 3px 3px -2px rgba(0, 0, 0, 0.12); }
.shadow_4 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
.shadow_5 {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12); }
.shadow_6 {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12); }
.shadow_7 {
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14),
    0px 2px 16px 1px rgba(0, 0, 0, 0.12); }
.shadow_8 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12); }
.shadow_9 {
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14),
    0px 3px 16px 2px rgba(0, 0, 0, 0.12); }
.shadow_10 {
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14),
    0px 4px 18px 3px rgba(0, 0, 0, 0.12); }
.shadow_11 {
    box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14),
    0px 4px 20px 3px rgba(0, 0, 0, 0.12); }
.shadow_12 {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12); }
.shadow_13 {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14),
    0px 5px 24px 4px rgba(0, 0, 0, 0.12); }
.shadow_14 {
    box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
    0px 14px 21px 2px rgba(0, 0, 0, 0.14),
    0px 5px 26px 4px rgba(0, 0, 0, 0.12); }
.shadow_15 {
    box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
    0px 15px 22px 2px rgba(0, 0, 0, 0.14),
    0px 6px 28px 5px rgba(0, 0, 0, 0.12); }
.shadow_16 {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(0, 0, 0, 0.12); }
.shadow_17 {
    box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14),
    0px 6px 32px 5px rgba(0, 0, 0, 0.12); }
.shadow_18 {
    box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
    0px 18px 28px 2px rgba(0, 0, 0, 0.14),
    0px 7px 34px 6px rgba(0, 0, 0, 0.12); }
.shadow_19 {
    box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
    0px 19px 29px 2px rgba(0, 0, 0, 0.14),
    0px 7px 36px 6px rgba(0, 0, 0, 0.12); }
.shadow_20 {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14),
    0px 8px 38px 7px rgba(0, 0, 0, 0.12); }
.shadow_21 {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 21px 33px 3px rgba(0, 0, 0, 0.14),
    0px 8px 40px 7px rgba(0, 0, 0, 0.12); }
.shadow_22 {
    box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
    0px 22px 35px 3px rgba(0, 0, 0, 0.14),
    0px 8px 42px 7px rgba(0, 0, 0, 0.12); }
.shadow_23 {
    box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
    0px 23px 36px 3px rgba(0, 0, 0, 0.14),
    0px 9px 44px 8px rgba(0, 0, 0, 0.12); }
.shadow_24 {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12); }

.preloaderSide {
  width: 100%;
  height: 38%;
  position: absolute;
  bottom: 0;
  transition: .9s cubic-bezier(0.4, 0.0, 1, 1);
  background-color: #454C59;
  transform: translateZ(0);
  z-index: 1;
}
.preloaderSide_top {
  height: 62%;
  top: 0;
}
.preloaderSide_slideUp {
  transform: translate3d(0, -130%, 0);
}
.preloaderSide_slideDown {
  transform: translate3d(0, 130%, 0);
}
.preloaderCube_bottom {
  height: 100%;
  background-color: #F24B59;
  transition: transform .5s cubic-bezier(0.4, 0.0, 1, 1);
  transform: translate3d(0, 150%, 0);
  box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.2),
              0px 0px 21px 2px rgba(0, 0, 0, 0.14),
              0px 0px 26px 4px rgba(0, 0, 0, 0.12);
}
.preloaderCube_top {
  position: absolute;
  bottom: 0;
  box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.2),
              0px 0px 17px 2px rgba(0, 0, 0, 0.14),
              0px 0px 22px 4px rgba(0, 0, 0, 0.12);
}
.preloaderCube_left {
  width: 24%;
  height: 100%;
  left: 0;
  background-color: #021226;
  transition: .9s cubic-bezier(0.2, 0.0, 0.2, 1);
  transform: translate3d(-150%, 0, 0);
}
.preloaderCube_right {
  width: 38%;
  height: 62%;
  right: 0;
  background-color: #73434F;
  transition: .9s .9s cubic-bezier(0.2, 0.0, 0.2, 1);
  transform: translate3d(150%, 0, 0);
}
.preloaderCube_slideIn {
  transform: translate3d(0, 0, 0);
}

.menuButton {
  width: 6vmin;
  min-width: 30px;
  height: 6vmin;
  min-height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  transform: translate(-50%, 50%);
  z-index: 1;
}
.menuButton_desktop-view {
  min-width: 40px;
  min-height: 40px;
  transform: translate(calc(-50% - 16px), 50%);
}
.menuButton__button:focus + .menuButton__lines-wrapper {
  outline: none;
  box-shadow: 0 0 0 2px #021226, 0 0 0 4px #F2F2F2;
}
.menuButton__lines-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 250ms ease-out;
  cursor: pointer;
}
.menuButton__lines-wrapper_pointer-events_none {
  pointer-events: none;
}
.menuButton__menu-line {
  width: 100%;
  height: 10%;
  overflow: hidden;
  border-radius: 40px;
}
.menuButton__menu-line_top {
  width: 50%;
  align-self: flex-start;
  transition: transform 250ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}
.menuButton__menu-line_bottom {
  width: 50%;
  align-self: flex-end;
  transition: transform 250ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}
.menuButton__fragments-wrapper {
  width: 260%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateX(0%);
}
.menuButton__fragment {
  width: 38%;
  height: 100%;
  background-color: #F2F2F2;
  border-radius: 40px;
}
.menuButton__lines-wrapper:hover .menuButton__fragments-wrapper {
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  transform: translateX(-62%);
}
.menuButton__lines-wrapper:hover .menuButton__fragments-wrapper_top {
  transition-delay: 0.1s;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.3, 0.7, 0.7, 1);
}
.menuButton__lines-wrapper:hover .menuButton__fragments-wrapper_bottom {
  transition-timing-function: cubic-bezier(0.3, 0.0, 0.3, 1);
}
.menuButton__lines-wrapper_on:hover .menuButton__fragments-wrapper_top {
  transition-delay: 0.0s;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.2, 0.0, 0.0, 1);
}
.menuButton__lines-wrapper_on:hover .menuButton__fragments-wrapper_bottom {
  transition-delay: 0.14s;
  transition-duration: 0.36s;
  transition-timing-function: cubic-bezier(0.0, 0.0, 0.6, 1);
}
.menuButton__lines-wrapper_on {
  transform: rotate(-45deg) ;
}
.menuButton__lines-wrapper_on .menuButton__menu-line_top {
  transform: rotate(-90deg) translateX(calc(1vmin / 3));
}
.menuButton__lines-wrapper_on .menuButton__menu-line_bottom {
  transform: rotate(-90deg) translateX(calc(1vmin / -3));
}

.fullscreenFlipper {
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200;
  perspective: 1200px;
  display: flex;
  justify-content: center;
  overscroll-behavior-y: contain;
}
.fullscreenFlipper__flipper {
  transform-style: preserve-3d;
  transition: .5s linear;
  pointer-events: none;
  transform: rotateY(0deg);
  will-change: transform;
}
.fullscreenFlipper_rotate .fullscreenFlipper__flipper {
    transform: rotateY(18deg);
    transform: rotateY(160deg);
    transform: rotateY(0deg);
  transform: rotateY(180deg);
}
.fullscreenFlipper__flipperSide {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
              background-color: green;

}
.fullscreenFlipper__flipperSide_front {
  transform: translateY(-100%);
}
.fullscreenFlipper__flipperSide_back {
  transform: rotateY(-180deg);
}
.fullscreenFlipper__sideInnerWrapper {
  height: 100%;
  will-change: transform, opacity;
}

.menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  min-height: 240px;
  background: #F24B59;
  overflow: hidden;
  overscroll-behavior-y: contain;
  z-index: 1;
}
.menu__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  user-select: none;
}
.menu__letterContainer {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
.menu__letter {
  padding: 0;
  margin: 0;
  color: #73434F;
  font-size: 29vw;
}
.menu__letter_transX {
  transform: translateX(7.5%);
}
.menu__contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hero {
  width: 20vmin;
  height: 30vmin;
  overflow: hidden;
  position: absolute;
  transform: translate3d(-20vw, -2vw, 0);
  pointer-events: none;
}
.hero_animationON {
  animation: hero_animTransX 15s linear infinite;
}
.hero__sprites {
  width: 400%;
}
.hero__anim_vert {
  animation: hero_animVer .9s steps(2) infinite;
}
.hero__anim_hor {
  animation: hero_animHor .45s steps(4) infinite;
}
@keyframes hero_animHor {
  from {
    transform: translate3d(0%, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes hero_animVer {
  from {
    transform: translate3d(0, 0%, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes hero_animTransX {
  0% {
    transform: translate3d(-20vw, -2vw, 0);
  }
  50% {
    transform: translate3d(100vw, -2vw, 0);
  }
  100% {
    transform: translate3d(100vw, -2vw, 0);
  }
}
.links {
  width: 96vmin;
  min-width: 240px;
  padding: 4vmin 0 0 0;
  display: flex;
  flex-wrap: wrap;
}
.links__link {
  width: 28vmin;
  height: 28vmin;
  min-width: 68px;
  min-height: 68px;
  position: relative;
  margin: 4vmin 0 0 4vmin;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 1vmin;
  color: #F2F2F2;
  text-decoration: none;
  overflow: hidden;
}
.links__link:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.links__linkBG {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #021226;
  opacity: .4;
}
.links__linkContentContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
}
.links_icon {
  width: 50%;
  fill: #F2F2F2;
}
.links__header {
  margin: 0 0 2vmin 0;
  display: block;
  font-size: 2vmin;
  user-select: none;
}
.links__text {
  margin: 0 0 2vmin 0;
  display: block;
  text-align: center;
  font-size: 2.5vmin;
}
.menu__emailSection {
  height: 32vh;
  display: flex;
  align-items: flex-end;
}
.menu__emailSection_menuBarFix {
  height: 17vh;
  padding-bottom: 15vh;
}
.menu__email {
  position: relative;
  margin: 0 auto;
  font-size: 4.9vw;
  color: #F2F2F2;
}
@media (max-width: 414px) {
  .links__link {
    width: 34vmin;
    height: 34vmin;
  }
  .links__text {
    font-size: 3vmin;
  }
}

.hiScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #454C59;
  touch-action: pan-y;
  z-index: 1;
}
.hiScreen_slider {
  z-index: auto;
}
.hiScreen__content-block {
  position: relative;
  display: grid;
  grid-template-columns: 44vmin 8vmin;
  grid-template-rows: auto 8vmin;
  padding: 18vh 0 0 20vw;
}
.hiScreen__text-block {
  border-radius: 1vmin;
  overflow: hidden;
  mix-blend-mode: screen;
  transform: scale(1.3) translate(-10%, -10%);
}
.hiScreen__text {
  margin: 0;
  padding-left: 5vmin;
  padding-right: 5vmin;
  mix-blend-mode: screen;
  color: black;
  background-color: #fff;
}
.hiScreen__text__forBlurTransition {
  color: #384453;
}
.hiScreen__text_top {
  padding-top: 2.5vmin;
  padding-bottom: 2.5vmin;
  font-size: 8vmin;
  transform: translateY(1px);
}
.hiScreen__text_bottom {
  padding-bottom: 2.5vmin;
  font-size: 5vmin;
}
.hiScreen__shadow {
  background-color: rgba(242, 75, 89, 0.6);
}
.hiScreen__shadow_top-right {
  border-radius: 0 1vmin 0 0;
}
.hiScreen__shadow_bottom-left {
  border-radius: 0 0 0 1vmin;
}
.hiScreen__shadow_bottom-right {
  border-radius: 0 0 1vmin 0;
}
.hiScreen__bgGradientFilter {
  width: 100%;
  height: 100%;
  position: absolute;
}
.hiScreen__bgGradientFilter_top {
  background: linear-gradient(0deg, transparent 70%, #021226 100%);
}
.hiScreen__bgGradientFilter_bottom {
  background: linear-gradient(180deg, transparent 70%, #021226 100%);
}
.hiScreen__bgGradientFilter_right {
  background: linear-gradient(90deg, transparent 70%, #021226 100%);
}
.hiScreen__bgGradientFilter_left {
  background: linear-gradient(270deg, transparent 70%, #021226 100%);
}
.hiScreen__bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: filter .5s cubic-bezier(0.4, 0.0, 1, 1);
  background-size: cover;
  background-position: center 45%;
  filter: blur(0px);
}
.hiScreen__bg-image__desktop-view {
  transform: scale(1.2) translate3d(0,0,0);
}
.hiScreen__bg-image_blurred {
  filter: blur(20px);
}
.hiScreen__bg-image_mini {
  background-image: url('../img/hiScreenBgMini.png');
}
.hiScreen__bg-image_lazy {

}
.hiScreen__bg-image_lazy-afterLoad {
  background-image: url('../img/hiScreenBg.jpg');
}
.hiScreen__scrollIconSection {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0px 0 8vh 0;
}
.hiScreen__scrollIcon {
  width: 4vmin;
  min-width: 32px;
  max-width: 24vw;
  margin: auto;
  display: block;
  fill: #F2F2F2;
  opacity: 0;
}
.hiScreen__scrollIcon_animationOn {
  animation-duration: 2s;
  animation-delay: 5s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
}
.hiScreen__scrollIcon_animation1 {
  animation-name: scrollIconAnim1;
}
.hiScreen__scrollIcon_animation2 {
  transform: translateY(-100%);
  animation-name: scrollIconAnim2;
}
.hiScreen__scrollIcon_animation3 {
  transform: translateY(-200%);
  animation-name: scrollIconAnim3;
}
@keyframes scrollIconAnim1 {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrollIconAnim2 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  14% {
    transform: translateY(-100%);
    opacity: 0;
  }
  15% {
    transform: translateY(-100%);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}
@keyframes scrollIconAnim3 {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  14% {
    transform: translateY(-200%);
    opacity: 0;
  }
  15% {
    transform: translateY(-200%);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@media (max-width: 414px), (max-height: 414px) {
  .hiScreen__bgGradientFilter_top {
    background: radial-gradient(circle, transparent 0%, #021226 100%);
  }
  .hiScreen__bgGradientFilter_bottom {
    display: none;
  }
  .hiScreen__bgGradientFilter_right {
    display: none;
  }
  .hiScreen__bgGradientFilter_left {
    display: none;
  }
}
@media (max-width: 414px), (width: 768px) and (height: 1024px), (width: 1024px) and (height: 1366px) {
  .hiScreen__content-block {
    padding: 12vh 0 0 22vw;
  }
}

.page_fixed {
  position: fixed;
}
.fullscreenSlider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transform: translateZ(0);
}
.fullscreenSlider__fallback {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #212126;
  transform: translateY(100%);
  z-index: 0;
}
.fullscreenSlider__side {
  height: 50%;
  overflow: hidden;
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
  transform: translateY(0%) scale(1) translateZ(0);
  will-change: transform;
}
.fullscreenSlider__side .hiScreen {
  height: 200%;
}
.fullscreenSlider__side_bottom .hiScreen {
  transform: translateY(-50%);
}
.fullscreenSlider__side-bottom .hiScreen {
  transform: translateY(-50%);
}
.fullscreenSlider__side_top {
  transform-origin: 0% 100%;
}
.fullscreenSlider__side_bottom {
  transform-origin: 100% 0%;
}
.fullscreenSlider.fullscreenSlider_ON .fullscreenSlider__side_top {
  transform-origin: 0% 100%;
  transform: translateY(-100%) rotate(-20deg) scale(1.35) translateZ(0);
}
.fullscreenSlider.fullscreenSlider_ON .fullscreenSlider__side_bottom {
  transform: translateY(100%) rotate(-20deg) scale(1.35) translateZ(0);
}
.slide2 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #454C59;
  opacity: 1;
  transform: translateZ(0);
  will-change: opacity;
}
.slide2_flipper {
  transform: none;
  will-change: auto;
}

.parallax__scrollable-container {
  width: 100vw;
  min-width: 240px;
  height: 100vh;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
}
.parallax__scrollable-container_smoothScroll {
  scroll-behavior: smooth;
}
.parallax__scrollable-container_desktop-view {
  -webkit-perspective: 300;
  perspective: 300px;
  -webkit-perspective-origin: center;
  perspective-origin: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translate3d(0,0,0);
  background-color: #454C59;
}
.scrollcoverTop {
  width: 100%;
  height: 50vh;
  position: absolute;
  transform: translateY(-100%);
  background: #454C59;
}
.parallax__videoCover {
  width: 100%;
  height: 100vh;
}
.parallax__videoContainer {
  transform: translate3d(0,0,-300px) scale(2.1);
  overflow: hidden;
  background-color: #454C59;
}
.parallax__bg-fullscreen-video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  max-height: 100vmax;
  width: auto;
  height: auto;
  background: url('../img/videoBG-1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax__bg-fullscreen-video_filter {
  filter: blur(50px);
}
.parallax__bg-fullscreen-video_mobile-view {
  transform: translate3d(15%, 0%, 0);
  height: 100vh;
  right: 0;
}
.parallax__bg-fullscreen-video_desktop-view {
  top: 50%;
  left: 50%;
  -ms-transform: translate3d(-50%,-50%,-0px);
  -moz-transform: translate3d(-50%,-50%,0px);
  -webkit-transform: translate3d(-50%,-50%,0px);
  transform: translate3d(-50%,-50%,0px);
  transition: filter .2s;
}
.videoDescription {
  height: 0;
  transform: translateY(-50vh);
}
.videoDescription_desktop-view{
  transform: translate3d(0, -50vh, 90px) scale(.71);
}
.videoDescription__content {
  position: absolute;
  margin-left: 8vw;
  transform: translateY(-50%);
}
.videoDescription__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
  border-radius: 1vmin;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  opacity: .9;
}
.videoDescription__text {
  max-width: 50vw;
  margin: 0;
  padding: 4vmin;
  transform: translateZ(0);
  font-size: 3vmin;
  color: #021226;
}
.parallax__group_desktop-view {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translate3d(0,0,0);
}
#group1 {
  background: #454C59;
  transform: translateZ(0);
}
.group1_desktop-view {
  position: relative;
  z-index: 1;
}
#group2 {
  width: 100%;
  height: 100vh;
}
#group3 {
  position: relative;
  background-color: #e7e7e7;
}
#group4 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 812px) and (max-height: 414px) {
  .parallax__bg-fullscreen-video_mobile-view {
    transform: none;
    height: 125vh;
  }
}
@media (max-width: 414px) {
  .videoDescription {
    display: flex;
    justify-content: center;
  }
  .videoDescription__content {
    margin-left: 0;
  }
  .videoDescription__text {
    max-width: 84vw;
    font-size: 4.5vmin;
  }
}

.aboutSection {
  height: 80vh;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 85% 15%;
  grid-template-areas: "cube content" "header header";
}
.aboutSection_cube3dLayer {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.aboutSection__sphere {
  width: calc(100% + 20px);
  height: 200vh;
  grid-area: cube;
  align-self: center;
  justify-self: end;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  transform: translateX(20px);
}
.aboutSection__sphereBG {
  width: 130vmax;
  height: 130vmax;
  align-self: center;
  justify-self: end;
  border-radius: 50%;
  background: radial-gradient(circle, transparent 0%, #021226 90%);
  background-color: black;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    transform: translateX(-20px);
}
.aboutSection__cubeGravity {
  grid-area: cube;
  width: 60vmin;
  height: 60vmin;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  pointer-events: auto;
}
.aboutSection__aboutText {
  border-radius: 1vmin;
  font-size: 3vmin;
  padding: 4vmin;
  width: 60%;
  grid-area: content;
  align-self: center;
  transform: translateX(10%);
  color: #021226;
  background: #F2F2F2;
}
.aboutSection__header {
  grid-area: header;
  font-size: 9.8vw;
  line-height: 0.69;
  white-space: pre;
  color: rgba(242, 242, 242, 0.3);
  margin: 0 auto;
  align-self: flex-end;
  transition: opacity .1s cubic-bezier(0.4, 0.0, 0.2, 1), transform .2s cubic-bezier(0.4, 0.0, 0.2, 1);
  transform: translate3d(0, 0%, 0);
  opacity: 1;
}
.aboutSection__header_slideDown {
  transform: translate3d(0, 140%, 0);
  opacity: 0;
}
.stackSection {
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
}
.stackSection__angleContainerWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.stackSection__angleContainer {
  height: 100%;
  width: 140%;
  position: absolute;
  right: 0;
  transform: rotate(-10deg) translateZ(0);
  transform-origin: top right;
  transition: transform 0.1s linear;
  overflow: hidden;
}
.stackSection__gradientBG  {
  width: 300%;
  height: 100%;
  background: linear-gradient(90deg, #F2F2F2, #F24B59, #021226);
  transform: translate3d(0%, 0%, 0);
}
@keyframes gradientBG {
  0% {
    transform: translateX(0%) translateZ(0);
  }
  100% {
    transform: translateX(-66%) translateZ(0);
  }
}
.stackSection__stackDescriptionWrapper {
  padding: 8vh 4vw;
  transition: .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  transform: translate3d(0, 0vh, 0);
  opacity: 1;
}
.stackSection__stackDescriptionWrapper_flipper {
  position: relative;
}
.stackSection__stackDescriptionWrapper_slideDown {
  transform: translate3d(0, 20vh, 0);
  opacity: 0;
}
.stackSection__stackIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.stackSection__stackIcon {
  width: 18vmin;
  min-width: 120px;
  height: 18vmin;
  min-height: 120px;
  margin: 4vmin;
  border-radius: 1vmin;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #f2f2f2;
  color: #021226;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.stackSection__iconImg {
  max-width: 70%;
  max-height: 50%;
  margin: auto;
}
.stackSection__iconDesc {
  margin: 0 auto 8px;
  text-align: center;
}
.stackSection__stackDescription {
  margin: 0;
  padding: 4vmin;
  border-radius: 1vmin;
  font-size: 3vmin;
  background: #F2F2F2;
  color: #021226;
}
@media (max-width: 768px) and (min-height: 415px) {
  .aboutSection {
    height: 88vh;
    grid-template-areas:
        "cube"
        "content"
        "header";
    grid-template-columns: 100%;
    grid-template-rows: 63% 1fr 9%;
  }
  .aboutSection__sphere {
    height: 100vh;
    align-self: end;
    justify-self: center;
    transform: translateY(20px);
  }
  .aboutSection__sphereBG {
    align-self: end;
    justify-self: center;
    transform: translateY(-20px);
  }
  .aboutSection__aboutText {
    width: 84%;
    margin: auto;
    transform: translateX(0);
    font-size: 3vmin;
  }
  .aboutSection__cubeGravity {
    width: 80vmin;
    height: 80vmin;
  }
}
@media (max-width: 414px) and (min-height: 415px) {
  .aboutSection__aboutText {
    font-size: 4.5vmin;
  }
}
@media (min-width: 2560px) {
  .stackSection__stackDescriptionWrapper {
      padding: 8vh 6vw;
    }
}
@media (max-width: 414px) {
  .stackSection__stackIcons {
    padding: 0 0 8vmin;
  }
  .stackSection__stackDescription {
    font-size: 4.5vmin;
  }
}

.cube3d {
  grid-area: cube;
  width: 40vmin;
  height: 40vmin;
  position: relative;
  margin: auto;
}
.cube3d__scene {
  perspective: calc(100vmax);
  width: 100%;
  height: 100%;
}
.cube3d__level {
  width: 100%;
  height: calc(100% / 5);
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-90deg) translate3d(-50%, 0, 0) rotateY(90deg) rotateY(0deg);
}
.cube3d__side {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #F24B59 0%, #F24B59 38%, #F2F2F2 38%, #F2F2F2 100%);
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.cube3d__side_front {
  transform: rotateY(-90deg) translate3d(50%, 0, 0) rotateY(90deg);
}
.cube3d__side_back {
  transform: rotateY(-90deg) translate3d(-50%, 0, 0) rotateY(-90deg);
}
.cube3d__side_left {
  transform: translate3d(-50%, 0, 0) rotateY(-90deg);
}
.cube3d__side_right {
  transform: translate3d(50%, 0, 0) rotateY(90deg);
}
.cube3d__side_top {
  height: calc(100% * 5);
  transform: translate3d(0, -50%, 0) rotateX(90deg);
  background: #F2F2F2;
}
.cube3d__side_bottom {
  height: calc(100% * 5);
  transform: translate3d(0, -30%, 0) rotateX(-90deg);
  background: #F2F2F2;
}
.cube3d__text {
  position: absolute;
  margin: 0;
  line-height: 70%;
  color: #021226;
  white-space: nowrap;
}
.cube3d__text_shift_up {
  transform: translateY(-55%);
}
.cube3d__text_shift_down {
  transform: translateY(55%);
}
.cube3d__text_shift_up-left {
  transform: translateX(-50%) translateY(-55%);
}
.cube3d__text_shift_down-left {
  transform: translateX(-50%) translateY(55%);
}
.cube3d__clickTarget {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  cursor: pointer;
}
.cube3d__loadingIconContainer {
  width: 100%;
  height: 100%;
}
.cube3d__loadingIcon {
  width: 50%;
  height: 50%;
  background: #F24B59;
  border-radius: 50%;
  animation: cube3dLoadingAnimation 1s linear infinite;
  transform: translate3d(50%, 50%, 0);
}
@keyframes cube3dLoadingAnimation {
  0% {
    transform: translate3d(50%, 50%, 0);
  }
  25% {
    transform: translate3d(100%, 50%, 0);
  }
  50% {
    transform: translate3d(50%, 50%, 0);
  }
  75% {
    transform: translate3d(0%, 50%, 0);
  }
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}
.userHint {
  width: 84%;
  height: 84%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: rgba(69, 76, 89, 0.9);
  border-radius: 1vmin;
  pointer-events: none;
}
.userHint__icon_cube3d {
  padding: 12%;
  background-color: #F2F2F2;
  border-radius: 1vmin;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 768px) and (min-height: 320px), (max-width: 812px) and (max-height: 375px) {
  .cube3d_mobileView {
    width: 50vmin;
    height: 50vmin;
  }
}
@media (max-width: 1024px) and (min-height: 1366px) {
  .cube3d_mobileView {
    width: 30vmin;
    height: 30vmin;
  }
}
@media (max-width: 414px) and (min-height: 415px) {
  .cube3d {
    width: 60vmin;
    height: 60vmin;
  }
}

.certification {
  min-height: 80vh;
  padding: 10% 0 15% 10%;
  background: no-repeat center/cover url('../img/certsBG.jpg') #e7e7e7;
}
.certification__framed-certificate {
  width: 50%;
  position: relative;
}
.certification__frame {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: center no-repeat url('../img/frame_mini.svg');
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.12)) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.24));
  transform: scale(1.3, 1.15);
  pointer-events: none;
}
.certification__carousel {
  position: relative;
  overflow: hidden;
  background: #3a3b3d;
  cursor: zoom-in;
  user-select: none;
}
.certification__certificates {

}
.certification__certificates_desktop-view {
  width: 600%;
  display: flex;
  align-items: center;
  transform: translateZ(0);
}
.certification__certificates_mobile-view {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.certification__certificates_ease {
  transition: transform 0.1s, opacity 0s;
}
.certification__certificates_opacity-delay {
  transition: transform 0.1s, opacity 0s 0.35s;
}
.certification__certificates::-webkit-scrollbar {
  display: none;
}
.certification__certificate {
  display: inline-block;
  width: 100%;
  margin: 0;
  scroll-snap-align: center;
  vertical-align: middle;
}
.certification__a {
  cursor: zoom-in;
}
.certification__certificateThumbnail {
  width:100%;
  display: block;
  margin: 0;
  transition: 0.2s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.certification__button {
  width: 15%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: none;
}
.certification__button_right {
  transform: translateX(567%);
}
.certification__certificate-description {
  display: none;
}
.certification__button-bg {
  background: black;
  height: 100%;
  transform: translateX(-100%);
  transition: .25s cubic-bezier(0.4, 0.0, 0.2, 1);
  opacity: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.certification__button-bg_right {
  transform: translateX(100%);
}
.header {
  height: 0;
}
.header__contentLayer {
  display: flex;
  transform: translateZ(0);
}
.header__text {
  margin: 0 auto;
  line-height: 0.69;
  white-space: pre;
  color: #888;
  transition: opacity .2s cubic-bezier(0.4, 0.0, 0.2, 1), transform .2s cubic-bezier(0.4, 0.0, 0.2, 1);
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
.header__text_certification {
  font-size: 11.8vw;
}
.header__text_slideDown {
  opacity: 0;
  transform: translate3d(0, 10%, 0);
}
.certification__plantParallaxImg {
  max-height: 50%;
  max-width: 50vmax;
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}
.certification__plantParallaxImg_back {
  transform: translateX(5%);
}
.certification__plantParallaxImg_base {
  transform: translate3d(31%, -33%, 45px) scale(.85);
}
.certification__plantParallaxImg_fore {
  max-height: 40vmax;
  transform: translate3d(2%, 2%, 90px) scale(.71);
}
.userHint_cert {
  width: 64%;
  height: 64%;
  align-items: center;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.userHint__hintBG {
  width: 64%;
  height: 64%;
  padding: 0 4%;
  box-sizing: border-box;
  display: flex;
  background-color: #F2F2F2;
  border-radius: 1vmin;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.userHint__icon {
  width: 24%;
  margin: auto;
  fill: #021226;
  animation: 1s infinite alternate cubic-bezier(0.5, 0, 0.5, 1);
}
.userHint__icon_slash {
  width: 15%;
}
.userHint__icon_swipe {
  transform: translateX(-30%);
  animation-name: swipe;
}
.userHint__icon_zoom {
  transform: scale(0.9);
  animation-name: zoom;
}
@keyframes swipe {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(20%);
  }
}
@keyframes zoom {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
@media (max-width: 414px) {
  .certification {
    min-height: 100vh;
    padding: 18vh 0;
    box-sizing: border-box;
  }
  .certification__framed-certificate {
    width: 86%;
    margin: auto;
  }
}

.portfolio {
  background: linear-gradient(225deg, #454C59, #73434F);
}
.portfolio__projectViewSection {
  width: 100%;
  overflow: hidden;
  background: url('../img/WoodBG_mini.jpg') center/cover no-repeat #b2663b;
}
.portfolio__projectView {
  height: 91vh;
  min-height: 240px;
}
.portfolio__gap_top {
  height: 4.44%;
}
.portfolio__gap_middle {
  height: 2.22%;
}
.portfolio__gap_bottom {
  height: 4vh;
  min-height: 10.65px;
}
.portfolio__deviceSlider {
  width: 200%;
  height: 93.33%;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
}
.portfolio__deviceContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: .3s cubic-bezier(0.4, 0.0, 0.2, 1);
  transform: translate3d(0%, 0, 0);
}
.portfolio__deviceContainer_iphoneChecked {
  transform: translate3d(-100%, 0, 0);
}
.portfolio__device {
  max-width: 96%;
  height: 100%;
  transition: .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.portfolio__device_checked {
  opacity: 1;
}
.portfolio__deviceSwitch {
  height: 6vh;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio__buttonContainer {
  width: 32%;
  height: 100%;
  min-height: 20px;
  max-height: 40px;
  min-width: 240px;
  max-width: 400px;
  border-radius: 1vmin;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: none;
  margin-inline: unset;
  padding-block: unset;
  padding-inline: unset;
}
.portfolio__radioSwitch {
  opacity: 0;
  appearance: none;
  -webkit-appearance: none;
  background: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-border-image: none;
}
.portfolio__switchButton {
  width: calc(100% / 3 - 2px);
  display: grid;
  grid-template: "a" 100% / 100%;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  background-color: #F24B59;
  transform: translateZ(0);
  overflow: hidden;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.portfolio__switchButton_left {
  border-radius: 1vmin 0 0 1vmin;
}
.portfolio__switchButton_right {
  border-radius: 0 1vmin 1vmin 0;
}
.portfolio__switchButton_checked {
  cursor: default;
  opacity: .5;
}
.portfolio__switchButton_hoverEnable:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 8px 10px 1px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__radioSwitch:focus + .portfolio__switchButton {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 8px 10px 1px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__switchButtonIcon {
  width: 34%;
  height: 64%;
  grid-area: a;
  fill: #021226;
  pointer-events: none;
  display: block;
}
.portfolio__iconsMakerAttribute{
  display: none;
}
.portfolio__switchButtonBG {
  width: 100%;
  height: 100%;
  grid-area: a;
  background-color: #F2F2F2;
  opacity: 0;
}
.portfolio__switchButtonBG_hoverEnable {
  opacity: 1;
}
.portfolio__switchButtonBG_hoverEnable:hover {
  opacity: 0;
}
.portfolio__Iframe {
  position: absolute;
  border: none;
  transform: scale(.5) translateZ(0);
  transform-origin: 0% 0%;
}
.portfolio__Iframe_opacityTransition {
  transition: opacity 0.5s;
}
.portfolio__projectGridGap {
  height: 8vh;
  min-height: 16px;
}
.portfolio__projectGridGap_bottom {
  min-height: 7.8vw;
}
.portfolio__projectGrid {
  width: 84%;
  max-width: 1173px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  border: none;
  appearance: none;
}
.portfolio__project {
  height: 286px;
  min-width: 286px;
  position: relative;
  margin: 6px;
  padding: 0;
  display: block;
  flex-grow: 1;
  overflow: hidden;
  border: none;
  background-position: center center;
  background-size: cover;
  text-decoration: none;
  color: #021226;
  border-radius: 1vmin;
  cursor: pointer;
  transform: translateZ(0);
  appearance: none;
  text-align: start;
  font-family: 'Rubik', sans-serif;
  font-size: unset;
}
.portfolio__project_technical_documentation_page {
  background-image: url('../img/technical_documentation_page_mini.png');
  background-position: 0%;
}
.portfolio__project_drum_machine {
  background-image: url('../img/drum_machine.png');
}
.portfolio__project_calculator {
  background-image: url('../img/js_calculator.png');
}
.portfolio__project_weather {
  background-image: url('../img/weather_app.png');
  background-position: 50% 0%;
}
.portfolio__project_choropleth {
  background-image: url('../img/choropleth_map.png');
  background-position: 50% 0%;
}
.portfolio__project:focus {
  outline: none;
  box-shadow: 0 0 0 4px #021226;
}
.portfolio__project_projectChecked {
  cursor: default;
  opacity: .5;
}
.portfolio__projectDescriptionContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 6%;
  box-sizing: border-box;
  background: #F24B59;
  border-radius: 1vmin 1vmin 0 0;
  transition: .25s cubic-bezier(0.4, 0.0, 0.2, 1);
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.2), 0px -2px 2px 0px rgba(0, 0, 0, 0.14), 0px -3px 1px -2px rgba(0, 0, 0, 0.12);
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, calc(100% - 35px), 0);
  opacity: .8;
}
.portfolio__projectDescriptionContainer_flipper {
  transform: translateY(calc(100% - 31px));
}
.portfolio__project:hover .portfolio__projectDescriptionContainer {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.portfolio__project:focus .portfolio__projectDescriptionContainer {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.portfolio__projectDescriptionContainer_projectChecked {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.portfolio__projectDescriptionGap {
  height: 16px;
}
.header__text_portfolio {
  font-size: 14.3vw;
  line-height: .68;
}

.contactWithMe {
  height: 100vh;
  min-height: 330px;
  position: relative;
  background-color: #212126;
}
.contactWithMe_mobileView {
  transform: translateZ(0);
}
.header_contactWithMe {
  position: static;
  transform: translateY(100%);
}
.header__contentLayer_contactWithMe {
  transform: none;
}
.header__text_contactWithMe {
  font-size: 8.7vw;
}
.header__text_contactWithMeSlideDown {
  opacity: 0;
  transform: translate3d(0, 40%, 0);
}
.bubbles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bubbles__canvas {
  width: 100%;
  height: 100%;
  background-color: #212126;
}
.bubbles__canvas_grab {
  cursor: grab;
}
.bubbles__canvas_grabbing {
  cursor: grabbing;
}
.form {
  width: 100%;
  height: 1px;
  position: absolute;
  transform: translateZ(0);
}
.form__gap_top {
  height: 20vh;
  pointer-events: none;
}
.form__input {
  display: block;
  box-sizing: content-box;
  width: 40%;
  font-size: 3vmin;
  margin: 8px auto;
  padding: 8px 16px;
  background: #F2F2F2;
  border: 2px solid #021226;
  border-radius: 1vmin;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  color: #021226;
  font-family: 'Rubik', sans-serif;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  user-select: none;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 0 0 4px #F2F2F2;
}
.form__input_top {
  margin-top: 20vh;
}
.form__input_textarea {
  resize: none;
}
.form__button {
  cursor: pointer;
  text-align: center;
  border: none;
}
.form__button_hoverEnable:hover {
  background-color: #F24B59;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.submit {
  margin-top: 8vh;
  background-color: #F24B59;
  opacity: .3;
  cursor: not-allowed;
}
.submit_hoverEnable {
  opacity: 1;
  cursor: pointer;
}
.submit_hoverEnable:hover {
  opacity: .8;
}
.submit:focus {
  outline: none;
  box-shadow: 0 0 0 2px #021226, 0 0 0 4px #F2F2F2;
}
.submit_success {
  background: #4BF273;
  opacity: 1;
}
.form__fileInput:focus + .form__input {
  background-color: #F24B59;
  outline: none;
  box-shadow: 0 0 0 2px #021226, 0 0 0 4px #F2F2F2;
}
.form__filePreview {
  width: 84%;
  height: 4vmin;
  margin: 0 auto;
  text-align: center;
  font-size: 3vmin;
  pointer-events: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #F2F2F2;
}
.clearFileInput {
  width: 20px;
  height: 20px;
  background: red;
}
@media (max-height: 414px) {
  .form__button_submit {
    background-color: #F24B59;
  }
  .form__gap_top {
    height: 16px;
  }
}
@media (max-width: 414px) {
  .form__input {
    font-size: 16px;
    width: 50%;
  }
}
.toasts {
  min-width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 5% 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}
.toasts_out {
  transform: translateY(-100%);
}
.toasts__toast {
  max-width: 50%;
  min-width: 200px;
  position: relative;
  margin: 2px 0;
  overflow: hidden;
  transform: translateY(200%);
  opacity: 0;
  transition: .25s;
  pointer-events: all;
  border-radius: 1vmin;
}
.toasts__toast_fast {
  transition: .1s;
}
.toasts__toast_slideIn {
  transform: translateY(0%);
  opacity: 1;
}
.toasts__toast_slideOut {
  transform: translateY(-200%);
  opacity: 0;
}
.toasts__toast-msg {
  width: 100%;
  padding: 5%;
  margin: 0;
  box-sizing: border-box;
  transform: translateZ(0);
  color: #021226;
  font-size: 20px;
}
.toasts__toast-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #F24B59;
  opacity: 0.97;
  border-radius: 1vmin;
}
.toasts__toast:hover .toasts__toast-bg {
  opacity: 1;
  box-shadow: inset 0px 0px 0px 3px #021226;
}
@media (max-width: 768px) {
  .toasts__toast {
    max-width: 85%;
  }
}
