.parallax__scrollable-container {
  width: 100vw;
  min-width: 240px; 
  height: 100vh;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
}
.parallax__scrollable-container_smoothScroll {
  scroll-behavior: smooth;
}
.parallax__scrollable-container_desktop-view {
  -webkit-perspective: 300;
  perspective: 300px;
  -webkit-perspective-origin: center;
  perspective-origin: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translate3d(0,0,0);
  background-color: #454C59;
}
.scrollcoverTop {
  width: 100%;
  height: 50vh;
  position: absolute;
  transform: translateY(-100%);
  background: #454C59;
}
.parallax__videoCover {
  width: 100%;
  height: 100vh;
}
.parallax__videoContainer {
  transform: translate3d(0,0,-300px) scale(2.1);
  overflow: hidden;
  background-color: #454C59;
}
.parallax__bg-fullscreen-video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  max-height: 100vmax;
  width: auto;
  height: auto;
  background: url('../img/videoBG-1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax__bg-fullscreen-video_filter {
  filter: blur(50px);
}
.parallax__bg-fullscreen-video_mobile-view {
  transform: translate3d(15%, 0%, 0);
  height: 100vh;
  right: 0;
}
.parallax__bg-fullscreen-video_desktop-view {
  top: 50%;
  left: 50%;
  -ms-transform: translate3d(-50%,-50%,-0px);
  -moz-transform: translate3d(-50%,-50%,0px);
  -webkit-transform: translate3d(-50%,-50%,0px);
  transform: translate3d(-50%,-50%,0px);
  transition: filter .2s;
}
.videoDescription {
  height: 0;
  transform: translateY(-50vh);
}
.videoDescription_desktop-view{
  transform: translate3d(0, -50vh, 90px) scale(.71);
}
.videoDescription__content {
  position: absolute;
  margin-left: 8vw;
  transform: translateY(-50%);
}
.videoDescription__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
  border-radius: 1vmin;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  opacity: .9;
}
.videoDescription__text {
  max-width: 50vw;
  margin: 0;
  padding: 4vmin;
  transform: translateZ(0);
  font-size: 3vmin;
  color: #021226;
}
.parallax__group_desktop-view {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translate3d(0,0,0);
}
#group1 {
  background: #454C59;
  transform: translateZ(0);
}
.group1_desktop-view {
  position: relative;
  z-index: 1;
}
#group2 {
  width: 100%;
  height: 100vh;
}
#group3 {
  position: relative;
  background-color: #e7e7e7;
}
#group4 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 812px) and (max-height: 414px) { 
  .parallax__bg-fullscreen-video_mobile-view {
    transform: none;
    height: 125vh;
  }
}
@media (max-width: 414px) {
  .videoDescription {
    display: flex;
    justify-content: center;
  }
  .videoDescription__content {
    margin-left: 0;
  }
  .videoDescription__text {
    max-width: 84vw;
    font-size: 4.5vmin;
  }
}