.parallax {
  /*width: 100%;
  height: 100%;
  overflow: hidden;*/
}
.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.parallax__scrollable-container {
  width: 100vw;
  min-width: 240px; 
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate3d(0,0,0);
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: auto;
  touch-action: pan-y; 
}
.parallax__scrollable-container_smoothScroll {
  scroll-behavior: smooth;
}

.parallax__scrollable-container_desktop-view {
  -webkit-perspective: 300;
  perspective: 300px;
  -webkit-perspective-origin: center;
  perspective-origin: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__bg-fullscreen-video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: url('../img/polina.jpg') no-repeat;
  background-size: cover;
}
.parallax__bg-fullscreen-video_filter-contrast0 {
  filter: contrast(0);
      filter: blur(50px);
}
.parallax__bg-fullscreen-video_mobile-view {
  min-height: 100vh;
}
.parallax__bg-fullscreen-video_desktop-view {
  top: 50%;
  left: 50%;
  -ms-transform: translate3d(-50%,-50%,0);
  -moz-transform: translate3d(-50%,-50%,0);
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  transition: filter .2s;
}

.parallax__group {
  
  /*height: 500px; /* fallback for older browsers */
  /*height: 100vh;*/
  
}
.parallax__group_desktop-view {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translate3d(0,0,0);
}

  .parallax__layer {
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective-origin: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;*/
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

.parallax__layer--base {
  -webkit-transform: translate3d(0,0,0);;
  transform: translate3d(0,0,0);;
  z-index: 4;
}
.parallax__layer--base_desktop-view {

}

.parallax__layer--back {
  
}
.parallax__layer--back_desktop-view {
  /*-webkit-transform: translateZ(-300px) scale(2.1);
  transform: translateZ(-300px) scale(2.1);*/
  transform: translate3d(0,0,-300px) scale(2.1);
  z-index: 3;
}

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }

  /* Debugger styles - used to show the effect
  --------------------------------------------- */

  .debug {
    position: fixed;
    top: 0;
    left: .5em;
    z-index: 999;
    background: rgba(0,0,0,.85);
    color: #fff;
    padding: .5em;
    border-radius: 0 0 5px 5px;
    /*display: none;*/
  }
  .debug-on .parallax__group {
    /*-webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
    transform: translate3d(700px, 0, -800px) rotateY(30deg);*/
    transform: translate3d(0px, 0, -800px) rotateY(0deg);
 }
  .debug-on .parallax__layer {
    box-shadow: 0 0 0 2px #000;
    opacity: 0.9;
  }
  .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }

  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
    pointer-events: none;
  }
  #group1 .parallax__layer--base {
    background: #212126;

  }

  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--base {
    /*width: 100vw;
    height: 100vh;*/
  }
  #group2 .parallax__layer--back {
    /*position: relative;*/
    width: 100%;
    height: 100vh;
  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #group3 .parallax__layer--base {
    background: rgb(153,216,101);
  }

  #group4 {
    z-index: 4; /* slide under group 3 and 5 */
  }
  #group4 .parallax__layer--deep {
    background: rgb(184,223,101);
  }

  #group5 {
    z-index: 5; /* slide over group 4 and 6 */
  }
  #group5 .parallax__layer--base {
    background: rgb(214,229,100);
  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group6 .parallax__layer--back {
    background: rgb(245,235,100);
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
  }
  #group7 .parallax__layer--base {
    background: rgb(0,0,0);
  }

video { 
     
}
#bgvid.blur {
  -webkit-filter: blur(50px);
  filter: blur(50px);
  opacity: 0;
}
  .parallax__layer video { 
    /*position: static;*/
  }
.stopfade { 
   opacity: .5;
}
.bgvidButton { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
  display: none;
}
.bgvidButton:hover { 
   background: rgba(0,0,0,0.5);
}
@media screen and (max-width: 500px) { 
  /*div{width:70%;} */
}
@media screen and (max-device-width: 800px) {
  /*html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }*/
}