/** {
	will-change: transform;
  transform: translateZ(0);
}*/
.hidden {
  display: none !important;
}
.opacity0 {
  opacity: 0 !important;
}
.opacity1 {
  opacity: 1 !important;
}
.body-disable-hover, .body-disable-hover * {
  pointer-events: none !important;
}
html{
	height: 100%;
	background-color: #212126;
  font-family: arial;
	font-family: Raleway;
	font-family: 'Rubik', sans-serif;
	color: white;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
html {
	/*scrollbar-width: none;*/
	/*overflow-y: scroll;*/
	/*position: fixed;*/
/*	overflow: hidden;*/
}
.forDownload, .forDownload * {
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
}
#hiScreenWrapper {
	/*width: 100%;
	height: 100%;
	background-color: #212126;
	display: flex;
	overflow-y: scroll;*/
}
.hiWrapper {
	height: 100%;
	background-color: #212126;

	width: 100%;
  overflow: hidden;
	transition: width .3s cubic-bezier(0.0, 0.0, 0.2, 1);
	position: relative;
}
.hiTextWrapper {
	position: absolute;
	width: 50%;
	z-index: 1;
	background-color: transparent;
	mix-blend-mode: screen;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5%;
	box-sizing: border-box;
}
.hiTextContainer {
	border-radius: 1vmin;
	overflow: hidden;
	width: 100%;
	box-shadow: 5vw 5vw 0 0 red, 15vw 5vw 0 0 red, 5vw 25vw 0 0 red, 15vw 25vw 0 0 red;
}

.hi-background-image {
  width: 110%;
  height: 110%;
  /*background-image: url(../img/img.JPG);*/
  
  background-image: url(../img/imgMini.png);
  filter: blur(20px);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center 45%;
  background-size: cover;
  position: absolute;
  transition: opacity 0.3s cubic-bezier(0.0, 0.0, 0.2, 1), filter .5s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.hi-background-image.lazy-hi-background-image {
	background-image: url(../img/img.JPG);
  filter: blur(20px);
  opacity: 0.8;
}
.hi-background-image.lazy-hi-background-image.unblurred {
  filter: unset;
  opacity: 1;
}
.lazyImageBg {
	opacity: 0;
	position: absolute;
	/*top: -2000%;*/
  transform: translateY(-2000%);
}
.hiWrapper .text{
	color: black;
	background-color: #fff;
	font-size: 6vw;
	font-weight: bold;
	margin: 0;
	/*bottom: 0;*/
	mix-blend-mode: screen;
	/* background: radial-gradient(50% 55%, #a67e6f, transparent); */
	width: 100%;
	box-sizing: border-box;
	padding: 2.5% 5%;
}
.hiWrapper .text.hiH1{
	font-size: 8vw;
}
.hiWrapper .text.hiH2{
	font-size: 5vw;
}
/*MENU BUTTON*/
/*@keyframes menuLineHoverEffect {
  from {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 100%, transparent 100%, transparent 100%);
    animation-timing-function: linear;
  }
  20% {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 80%, transparent 80%, transparent 100%);
    animation-timing-function: linear;
  }
  35% {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 60%, transparent 60%, transparent 100%);
    animation-timing-function: linear;
  }
  50% {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 40%, transparent 40%, transparent 80%, #A67E6F 80%, #A67E6F 100%);
    animation-timing-function: linear;
  }
  65% {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 20%, transparent 20%, transparent 60%, #A67E6F 60%, #A67E6F 100%);
    animation-timing-function: linear;
  }
  80% {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 0%, transparent 0%, transparent 20%, #A67E6F 20%, #A67E6F 100%);
    animation-timing-function: linear;
  }
  to {
    background: linear-gradient(to right, transparent 0%, transparent 0%, #A67E6F 0%, #A67E6F 100%);
  }
}
@keyframes menuStartLineHoverEffect {
  from {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 100%, transparent 100%, transparent 100%);
    animation-timing-function: linear;
  }
  20% {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 100%, transparent 100%, transparent 100%);
    animation-timing-function: linear;
  }
  40% {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 60%, transparent 60%, transparent 100%);
    animation-timing-function: linear;
  }
  60% {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 20%, transparent 20%, transparent 100%);
    animation-timing-function: linear;
  }
  80% {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 0%, transparent 0%, transparent 60%, #A67E6F 60%, #A67E6F 100%);
    animation-timing-function: linear;
  }
  to {
    background: linear-gradient(to right, transparent 0%, transparent 0%, #A67E6F 0%, #A67E6F 100%);
  }
}
@keyframes menuEndLineHoverEffect {
  from {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 100%, transparent 100%, transparent 100%);
    animation-timing-function: linear;
  }
  20% {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 60%, transparent 60%, transparent 100%);
    animation-timing-function: linear;
  }
  40% {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 20%, transparent 20%, transparent 100%);
    animation-timing-function: linear;
  }
  60% {
    background: linear-gradient(to right, #A67E6F 0%, #A67E6F 0%, transparent 0%, transparent 60%, #A67E6F 60%, #A67E6F 100%);
    animation-timing-function: linear;
  }
  80% {
    background: linear-gradient(to right, transparent 0%, transparent 0%, #A67E6F 0%, #A67E6F 100%);
    animation-timing-function: linear;
  }
  to {
    background: linear-gradient(to right, transparent 0%, transparent 0%, #A67E6F 0%, #A67E6F 100%);
  }
}
.wrapperMenuButton {
	width: calc(5vmin);
	height: calc(5vmin);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition:  250ms ease-out;
	position: absolute;
	z-index: 3;
  transform: translate3d(calc(100vw - 5vmin - 3vw), 5vmin, 0);
	-webkit-tap-highlight-color: transparent;
}
.wrapperMenuButton.open {
  transform: translate3d(calc(100vw - 5vmin - 3vw), 5vmin, 0) rotate(-45deg) ;
}
.line-menu {
  background-color: #A67E6F;
  border-radius: calc(0.25vmin);
  width: 100%;
  height: calc(0.5vmin);
}
.wrapperMenuButton:hover .line-menu {
  animation: menuLineHoverEffect  .25s linear;
  animation-delay: .05s;
}
.wrapperMenuButton:hover .start {
  animation: menuStartLineHoverEffect .25s linear;
  animation-delay: .06s;
}
.wrapperMenuButton:hover .end {
  animation: menuStartLineHoverEffect .25s linear;
  animation-delay: .0s;
}
.line-menu.half {
  width: 50%;
}
.line-menu.start {
  transition: transform 250ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}
.open .line-menu.start {
  transform: rotate(-90deg) translateX(calc(1vmin / 2));
}
.line-menu.end {
  align-self: flex-end;
  transition: transform 250ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}
.open .line-menu.end {
  transform: rotate(-90deg) translateX(calc(1vmin / -2));
}*/
/*MENU BUTTON//////*/ 
/*fullscreen Slider*/
.flipperContainerWrapper, .sliderContainerWrapper{
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}
.flipperContainerWrapperHidden, .sliderContainerWrapperHidden {
  display: none;
  z-index: -1;
}
.flipperContainer, .sliderContainer {
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200;
  perspective: 1200px;
  -moz-transform: perspective(1200px);
  /*-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;*/
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  justify-content: center;
}
.flipper {
  position: relative;
  width: calc(100% / 2);
  height: 100%;
  transform-style: preserve-3d;
  transition: .7s linear;
}
.flipperContainer.rotate .flipper {
  transform: rotateY(180deg);
}
.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}
.front {
  z-index: 2;
  transform: rotateX(0deg);
}
.back {
  transform: rotateY(-180deg);
  color: white;
}
.flipperInnerWrapper {
  width: calc(100% * 2);
  height: 100%;
  position: absolute;
}
.sliderInnerWrapper {
  width: 100%;
  height: calc(100% * 2);
  position: absolute;
}
.side2 .sliderInnerWrapper {
  /*top: -100%;*/
  transform: translateY(-50%);
}
/*.left .back .flipperInnerWrapper {
  position: absolute;
  left: 0%;
}
.right .flipperInnerWrapper {
  left: calc(-100% * 2 / 2);
}*/
.flipper1 .flipperInnerWrapper {
    /*left: -100%;*/
}
.flipper2 .flipperInnerWrapper {
  /*left: calc(-100% * 2);*/
}
.flipper.side, .slider.side {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: calc(100% / 2);
  transform-style: preserve-3d;
  transition: 0.5s cubic-bezier(0.4, 0.0, 1, 1);
  transform: translateX(0%) scale(1);
}
.sliderContainer.rotate .side1 {
  transform: translateY(-330%) rotate(-40deg) scale(1.5);
}
.sliderContainer.rotate .side2 {
  transform: translateY(330%) rotate(-40deg) scale(1.5);
}
#hiScreenWrapper.slide1 {
	
}

/*fullscreen Slider/////////*/
/*angleSectionWrapper*/
#angleSectionWrapper {
  width: 100%;
  background-color: #212126;
  overflow: hidden;
  position: relative;
}
.angleBGGradientWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}
.angleContainer {
  transition:  transform 0.1s linear;
  transform: rotate(-10deg) scale(1.2);
  transform-origin: top right;
  width: 100%;
  height: 100%;
}
.angleBGGradientAnimationLayer {
  animation: gradientBG 10s linear infinite alternate;
  background: linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab );
  width: 300%;
  height: 100%;
}
.animationNone {
  animation: none;
}
/*.angleContainer.animationStoped{
  animation-name: none;
}*/
/*#angleSectionWrapper {
  width: 100%;
  background-color: #212126;
  overflow: hidden;
  position: relative;
}
.angleContainer {
  width: 100%;
  height: 900px;
  background: linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab );
  background-size: 400% 400%;
  animation: gradientBG 10s linear infinite alternate;
  transition:  transform 0.1s linear;
  transform: rotate(-10deg) scale(1.2);
  transform-origin: top right;
}*/
.angleContainer.angle0 {
  transform: rotate(0deg) scale(1) !important;
}

@keyframes gradientBG {
  0% {
    /*background-position: 0%;*/
    transform: translateX(0%);
  }
  50% {
    /*background-position: 50%;*/
    transform: translateX(-33%);
  }
  100% {
    /*background-position: 100%;*/
    transform: translateX(-66%);
  }
}
.stackDescriptionWrapper {
  width: 85%;
  margin: auto;
  margin-bottom: 10vh;
  transition: .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  transform: translateY(20vh);
  opacity: 0;
}
.stackIconsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*position: absolute;
  top: 0;
  left: 0;
  z-index: 2;*/
  /*padding: 0 5%;
  box-sizing: content-box;*/
}
.stackIcon {
  width: 15vmin;
  height: 15vmin;
  border-radius: 50%;
  background: #250033;
  margin: 5vmin;
}
.stackDescription {
  margin: 0;
  background: #ff0060;
  border-radius: 1vmin;
  padding: 4vmin;
  font-size: 3vmin;
}
.translateUP {
  transform: translateY(5vh);
  opacity: 1;
}
/*angleSectionWrapper/////////////////*/
/*CUBE///*/
#cube3d-Wrapper {
  display: flex;
  /*width: 50vw;
  height: 50vw;/*/
  width: 50vmin;
  height: 50vmin;
  margin: 0 auto;
  /*margin-top: 25vh;*/
  position: relative;
  /*max-height: 70vmin;
  max-width: 70vmin;/*/
  opacity: 1;
  transition: opacity .1s cubic-bezier(0.4, 0.0, 0.2, 1),
              transform .2s cubic-bezier(0.0, 0.0, 0.2, 1);
  grid-area: cube;
  z-index: 4;
  transform: translateY(25vh);
}
#cube3d-Wrapper.translateUp {
  /*margin-top: 10vh;*/
  transform: translateY(10vh);
}
#cube3d-Wrapper.hidden {
	opacity: 0;
}
.userSelect-None * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}
.cube3d-CubeContainer{
  perspective: 500px;
  perspective: 3200px;
  width: 100%;
  height: 100%;
  margin: auto;
  /*transform: translateY(calc(-80vw * 0.8 / 5 / 2));*/
  position: absolute;
  opacity: 0.99;
  /*top: calc(50vw * 0.8 / 5 / 2);/*/
  /*top: calc(80vw * 0.8 / 5 / 2);*/
}

.cube3d-side {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to right, #468057 0%, #468057 30%, #A67E6F 30%, #A67E6F 70%, #dfc812 70%, #dfc812 100%);
  background: -webkit-linear-gradient(to right, #468057 0%, #468057 30%, #A67E6F 30%, #A67E6F 70%, #dfc812 70%, #dfc812 100%);
  /*background: green;*/
  box-shadow: 0 1px 10px rgba(0,0,0,0.19);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  }

.cube3d-back {
  /*transform: translateZ(calc(-50vw * 0.8 / 2)) rotateY(180deg);/*/
  /*transform: translateZ(calc(-80vw * 0.8 / 2)) rotateY(180deg);*/
  }
.cube3d-front {
  /*transform: translateZ(calc(50vw * 0.8 / 2));/*/
  /*transform: translateZ(calc(80vw * 0.8 / 2));*/
  }
.cube3d-top, .cube3d-bottom {
  /*height: calc(50vw * 0.8);/*/
  /*height: calc(80vw * 0.8);*/
}
.cube3d-top {
  /*transform: translateY(calc(-50vw * 0.8 / 2)) rotateX(90deg);/*/
  /*transform: translateY(calc(-80vw * 0.8 / 2)) rotateX(90deg);
  */
  background: white;
  }
.cube3d-bottom {
  /*transform: translateY(calc(-50vw * 0.8 * 0.3)) rotateX(90deg);/*/
  /*transform: translateY(calc(-80vw * 0.8 * 0.3)) rotateX(90deg);
  */
  background: white;
  }

.cube3d-left {
  /*transform: translateX(calc(-50vw * 0.8 / 2)) rotateY(-90deg);/*/
  /*transform: translateX(calc(-80vw * 0.8 / 2)) rotateY(-90deg);
  */
  }

.cube3d-right {
  /*transform: translateX(calc(50vw * 0.8 / 2)) rotateY(90deg);/*/
  /*transform: translateX(calc(80vw * 0.8 / 2)) rotateY(90deg);
  */
  }

.cube3d-level{
  width: 80%;
  height: calc(80% / 5);
  transform-style: preserve-3d;
  position: relative;
  margin: auto;
  /*padding: 0;
  left: 0;
  right: 0;*/
  /*top: calc(50vw * 0.8 / 50);*/
  /*top: calc(80vw * 0.8 / 80);*/
}
.cube3d-text {
  /*line-height: 70%;*/
  /*font-size: calc(80vw * 0.8 / 5 * 1.4);*/
  margin: 0;
  position: absolute;
  /*padding: 0;*/
  /*font-family: Raleway;*/
  color: white;
  color: black;
  white-space: nowrap;
}
.cube3d-text0, .cube3d-text2 {
  /*top: calc(-80vw * 0.08);*/
}
.cube3d-text1, .cube3d-text3 {
  /*top: calc(80vw * 0.08);*/
}
.cube3d-left .cube3d-text {
  /*left: -100%;*/
  transform: translateX(-100%);
}
.cube3d-right .cube3d-text {
  /*left: -100%;*/
  transform: translateX(-100%);
}
.cube3d-divForClick {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
/*CUBE/////////////////////*/
/*ABOUT//*/
.aboutWrapper {
  width: 100%;
  height: 80vh;
  /*background: rgba(238, 159, 159, 0.14);*/
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-gap: 5%; */
  grid-template-rows: 85% 15%;
  grid-template-areas: "cube content" "header header";
}
.cube3dLoadingWrapper{
  grid-area: cube;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s cubic-bezier(0.0, 0.0, 0.2, 1);
  transform: translateY(40vh);
}
.cube3dLoadingWrapper.translateUP {
  transform: translateY(25vh);
}
.cube3dLoading{
  width: 100%;
  height: 100%;
  background: #ff0060;
  border-radius: 50%;
  animation: cube3dLoadingAnimation 1s linear infinite;
}
@keyframes cube3dLoadingAnimation {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
.aboutContentWrapper {
  padding: 0 0 0 2vw;
  grid-area: content;
  width: 80%;
  /*display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;*/
}
.aboutContentWrapper p {
  /*margin: 20vh auto;*/
  margin: 0;
  background: #ff0060;
  border-radius: 1vmin;
  padding: 4vmin;
  font-size: 3vmin;
  transition: .2s cubic-bezier(0.0, 0.0, 0.2, 1);
  transform: translateY(30vh);
}
.aboutContentWrapper p.translateUP {
  /*transform: translateY(-15vh);*/
}
.headerBGWrapper {
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  height: 100%;
  align-items: flex-end;
  z-index: 0;
  position: relative;
}
.headerBGSpan {
  font-size: 9.8vw;
  line-height: 0.69;
  white-space: pre;
  color: #393939;
  margin: 0 auto;
  transition: opacity .1s cubic-bezier(0.4, 0.0, 0.2, 1), transform .2s cubic-bezier(0.4, 0.0, 0.2, 1);
  opacity: 0;
  position: relative;
  /*top: 10vh;*/
  transform: translateY(10vh);
}
.headerBGSpanVisible {
  opacity: 1;
  /*top: 0;*/
  transform: translateY(0vh);
}
/*ABOUT/////////////////////*/
/*SERTIFICATION/////*/
.sertificationSectionWrapper {
  
}
.sertificationSectionWrapper .headerBGWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  height: auto;
  align-items: flex-end;
  z-index: -1;
  position: absolute;
  transform: translateY(-100%);
  grid-area: unset;
}
.sertificationSectionWrapper .headerBGSpan {
  font-size: 11.8vw;
  color: #178282;
  transform: translateY(0vh);
  opacity: 1;
}
.sertificationGalleryWrapper {
  width: 100%;
  min-height: 80vh;
  background-color: #62626f;
  display: flex;
  overflow: hidden;
  margin: auto;
  padding: 10vh 0;
}
.pswp__ui .pswp__top-bar {
  min-height: 44px;
  height: auto;
}
.pswp__ui.pswp__ui--fit .pswp__top-bar {
  background-color: rgba(0, 0, 0, 0.8);
}
.pswp__top-bar .pswp__counter {
  position: static;
  float: left;
}
.freeCodeCampLink.pswp__button {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 200px;
}
.freeCodeCampLink a {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 30px;
  margin: auto 10px;
  background: darkgreen;
  width: 100%;
  text-decoration: none;
}
.freeCodeCampLink a span {
  color: white;
  font-size: 0.9rem;
  white-space: nowrap;
  margin: 0;
  padding: 0 0 0 7px;
}
.freeCodeCampLink a img {
  display: block;
  padding: 5px 0 0 0;
  height: 130px;
}
.certificates {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1vmin;
  column-gap: 1vmin;
  background: #efefef;
  padding: 1vmin;
  margin: auto;
}
.certificates figure{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 25%;
  height: 100%;
}
.certificates figure a{
  display: block;
  overflow: hidden;
}
.certificateThumbnail {
  width:100%;
  display: block;
  margin: 0;
  transition: 0.2s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.certificateThumbnail:hover {
  transform: scale(1.2);
}
.certificates figcaption {
  background: darkgreen;
  padding: 0 10px;
  margin: 0;
  color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*SERTIFICATION////////////////*/

@media (max-width: 900px) {
	.hi-background-image {
		background-position: 70% center;
	}
}
@media (max-width: 1024px) and (min-height: 800px) {
  .aboutWrapper {
    grid-template-areas: "content" "cube" "header";
    grid-template-columns: 100%;
    /*grid-gap: 5%;*/
    grid-template-rows: 34% 51% 15%;
  }
}
@media (max-width: 1024px) {
  .wrapperMenuButton {
    transform: translate3d(calc(100vw - 5vmin - 5vw), 5vmin, 0);
  }
  .wrapperMenuButton.open {
    transform: translate3d(calc(100vw - 5vmin - 5vw), 5vmin, 0) rotate(-45deg) ;
  }
}
@media (max-width: 768px) {
  .aboutWrapper {
    grid-template-areas: "content" "cube" "header";
    grid-template-columns: 100%;
    /*grid-gap: 5%;*/
    grid-template-rows: 34% 51% 15%;
  }
  .angleContainer {
    transform: rotate(-10deg) scale(1.5);
  }
  .certificates {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width : 480px) {
  .certificates {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 320px) {
  .angleContainer {
    transform: rotate(-10deg) scale(1.8);
  }
}