.portfolio {
	background: linear-gradient(225deg, #454C59, #73434F);
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}
.portfolio__projectView {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url('https://petrovmiroslav.github.io/static/DD_Wood_Plank_Background.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transform: translateZ(0);
}
.portfolio__deviceSlider {
	width: 200%;
	height: 84vh;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	transition: .3s cubic-bezier(0.4, 0.0, 0.2, 1);
	padding: 4vh 0 1vh 0;
	/*transform: translate3d(0,0,0);
	will-change: transform;*/
}
.portfolio__deviceSlider_iphoneChecked {
	/*transform: translate3d(-50%, 0, 0);*/
	transform: translateX(-50%);
}
.portfolio__deviceContainer {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.portfolio__device {
	max-width: 92%;
	height: 100%;
	transition: .2s cubic-bezier(0.4, 0.0, 0.2, 1);
	opacity: 0;
}
.portfolio__device_checked {
	opacity: 1;
}
.portfolio__device_iphone {
	/*max-height: 80vh;*/
}
.portfolio__deviceSwitch {
	height: 6vh;
	display: flex;
	justify-content: center;
	padding: 1vh 0 4vh 0;
}
.portfolio__buttonContainer {
	width: 32%;
	min-width: 32vh;
	border-radius: 1vmin;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.portfolio__switchButton {
	width: calc(50% - 1px);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.portfolio__switchButton_checked {
	cursor: default;
}
.portfolio__switchButton_left {
	/*border-right: 1px solid black;*/
}
.portfolio__switchButton_right {
	/*border-left: 1px solid black;*/
}
.portfolio__switchButtonIcon {
	display: block;
	/*max-width: 80%;
	max-height: 80%;*/
	height: 4vh;
	transform: translateZ(0);
	fill: #021226;
}
.portfolio__iconsMakerAttribute{
	display: none;
}
.portfolio__switchButtonBG {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #F2F2F2;
	transform: translateZ(0);
}
.portfolio__switchButtonBG_back {

}
.portfolio__switchButtonBG_highlight {
	background-color: #F24B59;
	opacity: 0;
}
.portfolio__switchButtonBG_checked {
	opacity: 1;
}
.portfolio__switchButton:hover .portfolio__switchButtonBG_back {
	opacity: 0;
}
.portfolio__switchButton:hover .portfolio__switchButtonBG_highlight {
	opacity: .8;
}
.portfolio__switchButton:hover .portfolio__switchButtonBG_checked {
	opacity: 1;
}
.portfolio__Iframe {
	position: absolute;
	border: none;
	transform: scale(.5);
	transform-origin: 0% 0%;
	transition: opacity 0.2s;
}
.portfolio__projectGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: minmax(200px, 30vh);
	grid-gap: 12px;
	max-width: 84%;
	margin: auto;
	padding: 8vh 0;
}
.portfolio__project {
	height: 100%;
	width: 100%;
	display: flex;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	text-decoration: none;
	color: #021226;
	border-radius: 1vmin;
	background-image: url('https://html5book.ru/wp-content/uploads/2019/03/post-img-3.jpg)');
}
.portfolio__projectDescriptionContainer {
	width: 100%;
	padding: 8%;
	display: flex;
	align-items: flex-end;
	background: #F24B59;
	border-radius: 1vmin 1vmin 0 0;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transform: translateY(100%);
	transition: .25s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.portfolio__project:hover .portfolio__projectDescriptionContainer {
	transform: translateY(0);
}
.portfolio__projectDescriptionContainer_projectChecked {
	cursor: default;
	transform: translateY(0);
}
.portfolio__projectDescription {
	margin: 0;
}
.header__text_portfolio {
	font-size: 13.8vw;
}